### Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load datasets

In [2]:
df_customers = pd.read_csv("customers.csv")
df_gelocation = pd.read_csv("geolocation.csv")
df_order_items = pd.read_csv("order_items.csv")
df_order_payments = pd.read_csv("order_payments.csv")
df_orders = pd.read_csv("orders.csv")
df_product_category_translation = pd.read_csv("product_category.csv")
df_products = pd.read_csv("products.csv")
df_sellers = pd.read_csv("sellers.csv")

### Customer Data

In [3]:
# Check missing values
df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [4]:
# Summary statistics
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
# Check duplicates
df_customers.duplicated().sum()

0

In [6]:
# Apply lower + strip to all string columns
str_cols = df_customers.select_dtypes(include='object').columns
df_customers[str_cols] = df_customers[str_cols].apply(lambda x: x.str.lower().str.strip())

In [7]:
df_customers.head(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,sp
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,sp
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,sp
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,sp
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,sp

In [8]:
# Save data as a csv
df_customers.to_csv('Cleaned data/customers.csv', index=False)

### Geolocation Data

In [33]:
# Summary statistics
df_gelocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [60]:
# Apply lower + strip to all string columns
str_cols = df_gelocation.select_dtypes(include='object').columns
df_gelocation[str_cols] = df_gelocation[str_cols].apply(lambda x: x.str.lower().str.strip())

In [61]:
df_gelocation.head(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,sp
1,1046,-23.546081,-46.644820,sao paulo,sp
2,1046,-23.546129,-46.642951,sao paulo,sp
3,1041,-23.544392,-46.639499,sao paulo,sp
4,1035,-23.541578,-46.641607,sao paulo,sp

In [9]:
# Save data as a csv
df_gelocation.to_csv('Cleaned data/geolocation.csv', index=False)

### Order Items Data

In [10]:
# Summary statistics
df_order_items.info()
df_order_items[['price', 'freight_value']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

               price  freight_value
count  112650.000000  112650.000000
mean      120.653739      19.990320
std       183.633928      15.806405
min         0.850000       0.000000
25%        39.900000      13.080000
50%        74.990000      16.260000
75%       134.900000      21.150000
max      6735.000000     409.680000

In [11]:
# Convert relevent columns to datetime
df_order_items['shipping_limit_date'] = pd.to_datetime(df_order_items['shipping_limit_date'])

In [12]:
# Check missing values
df_order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [13]:
# Check duplicates
df_order_items.duplicated().sum()

0

In [14]:
# Create total_price column
df_order_items['total_price'] = df_order_items['price'] + df_order_items['freight_value']

In [15]:
#Check for unique order_item_id values
unique_order_item_ids = df_order_items['order_item_id'].unique()
unique_order_item_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

In [16]:
df_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
 7   total_price          112650 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 6.9+ MB

In [17]:
# Apply lower + strip to all string columns
str_cols = df_order_items.select_dtypes(include='object').columns
df_order_items[str_cols] = df_order_items[str_cols].apply(lambda x: x.str.lower().str.strip())

In [18]:
df_order_items.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04

In [19]:
# Save data as a csv
df_order_items.to_csv('Cleaned data/order_items.csv', index=False)

### Payment Data

In [20]:
# Summary statistics
df_order_payments.info()
df_order_payments[['payment_value']].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

       payment_value
count  103886.000000
mean      154.100380
std       217.494064
min         0.000000
25%        56.790000
50%       100.000000
75%       171.837500
max     13664.080000

In [21]:
# Check missing values
df_order_payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [22]:
# Check duplicates
df_order_payments.duplicated().sum()

0

In [23]:
# Apply lower + strip to all string columns
str_cols = df_order_payments.select_dtypes(include='object').columns
df_order_payments[str_cols] = df_order_payments[str_cols].apply(lambda x: x.str.lower().str.strip())

In [24]:
df_order_payments.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [25]:
# Save data as a csv
df_order_payments.to_csv('Cleaned data/payments.csv', index=False)

### Order Data

In [26]:
# Summary statistics
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [27]:
# Convert relevent columns to datetime
date_cols = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_carrier_date',
    'order_delivered_customer_date',
    'order_estimated_delivery_date'
]
for col in date_cols:
    df_orders[col] = pd.to_datetime(df_orders[col], errors='coerce')

In [28]:
# Check missing values
df_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [29]:
# Check duplicates
df_orders.duplicated().sum()

0

In [30]:
# Drop unnecessary columns
df_orders = df_orders.drop(['order_delivered_carrier_date', 'order_approved_at'], axis=1)

In [31]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_delivered_customer_date  96476 non-null  datetime64[ns]
 5   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(3)
memory usage: 4.6+ MB

In [32]:
# Apply lower + strip to all string columns
str_cols = df_orders.select_dtypes(include='object').columns
df_orders[str_cols] = df_orders[str_cols].apply(lambda x: x.str.lower().str.strip())

In [33]:
df_orders.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-16 18:17:02,2018-02-26

In [34]:
# Save data as a csv
df_orders.to_csv('Cleaned data/orders.csv', index=False)

### Seller Data

In [35]:
# Summary statistics
df_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [36]:
# Check missing values
df_sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [37]:
# Check duplicates
df_sellers.duplicated().sum()

0

In [38]:
# Apply lower + strip to all string columns
str_cols = df_sellers.select_dtypes(include='object').columns
df_sellers[str_cols] = df_sellers[str_cols].apply(lambda x: x.str.lower().str.strip())

In [39]:
df_sellers.head(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,sp
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,sp
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,rj
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,sp
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,sp

In [40]:
# Save data as a csv
df_sellers.to_csv('Cleaned data/sellers.csv', index=False)

### Product Data

In [41]:
df_products.head(5)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [42]:
df_product_category_translation.head(5)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [43]:
# Merge the df_product_category_translation table to df_products table 
df_product_cleaned = pd.merge(df_products, df_product_category_translation, on='product_category_name', how='left')

In [44]:
# Drop unnecessary columns 
df_product_cleaned=df_product_cleaned.drop(['product_name_lenght','product_description_lenght', 'product_photos_qty',  'product_length_cm',
                                            'product_height_cm', 'product_width_cm'], axis=1)

In [45]:
# Check missing values
df_product_cleaned.isnull().sum()

product_id                         0
product_category_name            610
product_weight_g                   2
product_category_name_english    623
dtype: int64

In [46]:
# Fill nulls with the original Portuguese names
df_product_cleaned['product_category_name_english'] = df_product_cleaned['product_category_name_english'].fillna(df_product_cleaned['product_category_name'])

In [47]:
# Check missing values
df_product_cleaned.isnull().sum()

product_id                         0
product_category_name            610
product_weight_g                   2
product_category_name_english    610
dtype: int64

In [48]:
# Check duplicates
df_product_cleaned.duplicated().sum()

0

In [49]:
# Drop previous product_category_name column 
df_product_cleaned=df_product_cleaned.drop(['product_category_name'], axis=1)
# Rename the product_category_name_english column
df_product_cleaned.rename(columns={'product_category_name_english': 'product_category_name'}, inplace=True)

In [50]:
df_product_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_weight_g       32949 non-null  float64
 2   product_category_name  32341 non-null  object
dtypes: float64(1), object(2)
memory usage: 772.4+ KB

In [51]:
# Apply lower + strip to all string columns
str_cols = df_product_cleaned.select_dtypes(include='object').columns
df_product_cleaned[str_cols] = df_product_cleaned[str_cols].apply(lambda x: x.str.lower().str.strip())

In [52]:
df_product_cleaned.head(5)

                         product_id  product_weight_g product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             225.0             perfumery
1  3aa071139cb16b67ca9e5dea641aaa2f            1000.0                   art
2  96bd76ec8810374ed1b65e291975717f             154.0        sports_leisure
3  cef67bcfe19066a932b7673e239eb23d             371.0                  baby
4  9dc1a7de274444849c219cff195d0b71             625.0            housewares

In [53]:
# Save data as a csv
df_product_cleaned.to_csv('Cleaned data/Products.csv', index=False)